In [10]:
import pandas as pd
df = pd.read_csv("sales.csv")
# print(df[10:20])

In [ ]:
df.drop_duplicates(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB
None

In [21]:
df.dropna(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9789 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9789 non-null   int64
 1   Order ID       9789 non-null   object
 2   Order Date     9789 non-null   object
 3   Ship Date      9789 non-null   object
 4   Ship Mode      9789 non-null   object
 5   Customer ID    9789 non-null   object
 6   Customer Name  9789 non-null   object
 7   Segment        9789 non-null   object
 8   Country        9789 non-null   object
 9   City           9789 non-null   object
 10  State          9789 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9789 non-null   object
 13  Product ID     9789 non-null   object
 14  Category       9789 non-null   object
 15  Sub-Category   9789 non-null   object
 16  Product Name   9789 non-null   object
 17  Sales          9789 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.4+ MB
None

In [ ]:

df.groupby("Category")["Sales"].sum().sort_values(ascending=False)

Category
Technology         825856.1130
Furniture          723538.4757
Office Supplies    703212.8240
Name: Sales, dtype: float64

In [25]:
df.groupby("Region")["Sales"].sum().reset_index()

    Region        Sales
0  Central  492646.9132
1     East  660589.3560
2    South  389151.4590
3     West  710219.6845

In [23]:
import sqlite3

# Step 1: Read your cleaned CSV
# ðŸ‘‰ Replace with the path to your file
csv_path = "cleaned_sales.csv"
df = pd.read_csv(csv_path)

# Step 2: Connect to SQLite (creates sales_ops.db if not exists)
conn = sqlite3.connect("sales_ops.db")

# Step 3: Import DataFrame into SQLite as table "Sales"
df.to_sql("Sales", conn, if_exists="replace", index=False)

# Step 4: Test a sample query
query = """
SELECT strftime('%Y-%m', "Order Date") AS Month, SUM(Sales) AS Total_Sales
FROM Sales
GROUP BY Month
ORDER BY Month;
"""
result = pd.read_sql(query, conn)
print(result.head())

# Step 5: Close the connection
conn.close()

     Month  Total_Sales
0  2015-01    14205.707
1  2015-02     4519.892
2  2015-03    55205.797
3  2015-04    27906.855
4  2015-05    23644.303